# ==============================
# COPY THIS FILE TO .env
# FILL IN YOUR OWN API KEYS
# NEVER COMMIT YOUR .env FILE
# ==============================

# --- Shivanjali's Module (ATS Optimizer) ---
GROQ_API_KEY=your_groq_key_here


# --- Srishti's Module (Resume Scanner) ---
# Add your keys here

# --- Muskan's Module (Job Recommender) ---
# Add your keys here

# --- Shared Config ---
DATABASE_URL=your_database_url_here
SECRET_KEY=your_secret_key_here